@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

body{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.34;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 100vh;
    width: 80vw;
}

#left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#left h1{
    font-size: 5em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

#left h2{
    font-size: 1.2em;
    font-weight: 400;
    color: #7f8c8d;
}

#selectFiles{
    display: none;
}

#selectFiles + label{
    background: #16a085;
    padding: 1em 1.5em 1em;
    border-radius: 5em;
    color: white;
    font-weight: 600;
}

#content{
    width: 80%;
    display: flex;
    flex-direction: column;
}

#charts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#msgPieContainer{
    width: 40%;
    margin-bottom: 3em;
}

#msgPerDayContainer{
    width: 100%;
    margin-bottom: 3em;
}

#stats{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}